@font-face{

font-family: "bebaskai";
font-style: normal;
src :url("../font1/BebasKai.ttf");

}


body{
    width: 100%;
    margin:0;
    font-family:"bebaskai";
    background-color:201a1a;
    background-image:url("../image/background2.jpg");
    
}
        




header{
    width : 100%;
    height: 100px;
    background-color: 201a1a;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;


}


.nav-container{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height:auto;
    padding: 10px;
    list-style: none;
    font-weight:700;
    font-size:1.8em;
    background-color:black;
    z-index: 2;
    
}


a{

    color:white;
    padding:20px;

}

a:hover{

    color:red;

}

a:link
{
    text-decoration:none;
    color:white;
} 

.image-size{
    width : 200px;
    height: 400px;
}



.image-size:hover{

transform: scale(1.08);
z-index: 1;

}


h2{

    color:red;
    font-weight: 700;
    font-size:2em;


}

.flex-container-section{

    width:100%;
    height: auto;
   display: flex;
   flex-direction: row;
   align-content: center;
   justify-content: center;
}

li{

    padding:20px;
}

figcaption{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

figure{
    
    color:white;
    
}

footer {

display:flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
width : 100%;
height : 300px;
background-image:url("../image/footer2.jpg");
color:black;
font-size: 1.8em;

}

.button-subscribe{
width: 120px;
height: 40px;
border-radius:5px;
background-color:red;
color:white;
border-color:red;
font-size:0.6em;


}

.button-subscribe:hover{
    width: 122px;
    height: 42px;
    border-radius:5px;
    background-color:red;
    color:white;
    border-color:red;
    font-size:0.6em;
    
    
    }


.button-connect{
    width: 120px;
    height: 40px;
    border-radius:5px;
    background-color:green;
    color:white;
    border-color:green;
    font-size:0.6em;
    
    
    }

    .button-connect:hover{
        width: 122px;
        height: 42px;
        border-radius:5px;
        background-color:green;
        color:white;
        border-color:green;
        font-size:0.6em;
        
        
        }

.container-subscribe{

width: 100%;
display:flex;
flex-direction: row;
align-items: center;
justify-content: flex-end

}






